.init-hidden {
  opacity: 0 !important;
}

/* Firefox problem should be solved better */
@-moz-document url-prefix() {
  .init-hidden {
    opacity: 1 !important;
  }
}

.pop-in-element {
  animation: pop-in 1s ease 0s forwards;
}

.fade-in-element {
  animation: fade-in 2s ease 0s forwards;
}

.slide-down-element {
  animation: fade-slide-down 1s ease 0s forwards;
}

.slide-left-element {
  animation: fade-slide-left 1s ease 0s forwards;
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-slide-left {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
    -moz-transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }
}

/* @keyframes rotate-up {
  100% {
    transform: rotateZ(-4deg);
  }
} */